@charset "UTF-8";
/*|============================
  | Додавання & Віднімання
  |============================
*/
.box {
  width: 630px;
  width: 570px;
}

/*|============================
  | Множення & Ділення
  |============================
*/
.box {
  width: 3000px;
  width: 1250px;
  width: 1300px;
  width: 120px;
  width: 300px;
  width: 300px;
}

/*|============================
  | Інтерполяція
  |============================
*/
.box {
  width: 200px;
}

.box {
  width: 200px;
  width: -webkit-calc(100px * 2);
  width: -moz-calc(100px * 2);
  width: calc(100px * 2);
}